#header {
  height: 100px;
  width: 1350px;
  background-color: firebrick;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0px;
}

.detail {
  height: 500px;
  width: 1350px;
}

.enlace {
  text-decoration: none;
}

.imagen {
  height: 150px;
  width: 100px;
}
