<div class="detail">
  <h2>Sobre nosotros</h2>
  <p>
    Gamers World es una tienda de videojuegos especializada en vender todo tipo de articulos
    relacionado con el mundo de los videojuegos a un precio accesible.
  </p>
    {{#link-to "home" class="enlace"}}
      Volver
    {{/link-to}}
</div>