<div class="home">
  <h2>Bienvenido</h2>
  <p>Disfruta comprando nuestro articulos en oferta a precios muy accesibles</p>

  {{#link-to "details" class="enlace"}}
      Sobre Nosotros
  {{/link-to}}

</div>

{{#each model as |juego|}}
    <img src="{{juego.image}}" class="imagen">
    <h3>{{juego.titulo}}</h3>
    <div>
      <label>Plataforma:</label> {{juego.plataforma}}
    </div>
    <div>
      <label>Genero:</label> {{juego.genero}}
    </div>
    <div>
      <label>Desarrollador:</label> {{juego.desarrollador}}
    </div>
    <div>
      <label>Precio:</label> {{juego.precio}}
    </div>
{{/each}}